# Ignore Python bytecode and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
.venv/
venv/
ENV/
env/
venv.bak/
env.bak/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore environment variable files
.env

# Ignore log files and directories
*.log
log/

# Ignore temporary files and directories
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old

# Ignore Dockerfile and docker-compose files
Dockerfile*
docker-compose*

# Ignore any other files you don't want in the Docker image
node_modules/
*.md
